#encabezadito{
    text-align: center;
    font-size: 24px;
    border-style:double;
    border-color:cornflowerblue;
    border-radius:8px;
    border-width: 8px;
    background-color: cornflowerblue;
}
